

@media (min-width : 361px){

          
    article ul li h3{
            display:none;
        }


    .burger-menu{
        display: none;
    }
    .second-header{
        font-weight: bold;
        display:block;
    }
    .producto{
        width: 50%;
    }
    .seccion-busqueda{
        display: flex;
        flex-wrap: wrap;
    }
    .seccion-ofertas{
        display: flex;
        flex-wrap: wrap;
    }
    .banner{
        margin-top: 115px;
    }
    .titulo-busqueda{
        font-size: 2rem;
    }

    .titulo-ofertas{
        font-size: 2rem;
    }

    .nombre-producto{
        display:none;
    }
    .leyenda-cuotas{
        font-size: 1rem;
        margin-left: 10px;
        
    }


}